agate==1.7.1
altair==5.2.0
altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/altgraph-0.17.2-py2.py3-none-any.whl
anyio==4.0.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asn1crypto==1.5.1
asttokens==2.4.0
async-lru==2.0.4
attrs==23.1.0
audioread==3.0.1
Babel==2.13.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.7.0
branca==0.7.1
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.6
comm==0.1.4
contourpy==1.2.0
cryptography==40.0.2
cycler==0.12.1
dbt-core==1.7.3
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.4.1
dbt-snowflake==1.7.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
EasyProcess==1.1
entrypoint2==1.1
exceptiongroup==1.1.3
executing==2.0.0
fake-useragent==1.4.0
fastjsonschema==2.18.1
filelock==3.12.4
Flask==3.0.3
folium==0.15.1
fonttools==4.49.0
fqdn==1.5.1
fsspec==2024.2.0
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/future-0.18.2-py3-none-any.whl
gitdb==4.0.11
GitPython==3.1.41
gunicorn==22.0.0
h11==0.14.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
install==1.3.5
ipykernel==6.25.2
ipython==8.16.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.3.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.1
jupyter_core==5.3.2
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
keyring==23.13.1
kiwisolver==1.4.5
lazy_loader==0.3
leather==0.3.4
librosa==0.10.1
llvmlite==0.42.0
Logbook==1.5.3
lxml==5.1.0
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/macholib-1.15.2-py2.py3-none-any.whl
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mashumaro==3.11
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
mistune==3.0.2
more-itertools==10.1.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.7
mss==9.0.1
nbclient==0.8.0
nbconvert==7.9.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
notebook==7.0.4
notebook_shim==0.2.3
numba==0.59.0
numpy==1.26.3
opencv-python==4.9.0.80
oscrypto==1.3.0
outcome==1.3.0.post0
overrides==7.4.0
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.0
parsedatetime==2.6
parso==0.8.3
pathspec==0.11.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==3.11.0
pluggy==1.4.0
pooch==1.8.1
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.25.1
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.0
PyAutoGUI==0.9.54
pycparser==2.21
pycryptodomex==3.19.0
pydantic==1.10.13
pydeck==0.8.1b0
PyGetWindow==0.0.9
Pygments==2.16.1
PyJWT==2.8.0
PyMsgBox==1.0.9
pyobjc-core==10.0
pyobjc-framework-Cocoa==10.0
pyobjc-framework-Quartz==10.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyperclip==1.8.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
pytest==8.0.2
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-slugify==8.0.1
pytimeparse==1.1.8
pytweening==1.0.7
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.4.4
QtPy==2.4.0
referencing==0.30.2
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.10.3
rubicon-objc==0.4.7
scikit-learn==1.4.1.post1
scipy==1.12.0
selenium==4.17.2
Send2Trash==1.8.2
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/six-1.15.0-py2.py3-none-any.whl
smmap==5.0.1
sniffio==1.3.0
snowflake-connector-python==3.0.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
SQLAlchemy==2.0.23
sqlparse==0.4.4
stack-data==0.6.3
streamlit==1.31.0
streamlit-folium==0.18.0
sympy==1.12
tenacity==8.2.3
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.3.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tor==1.0.0
torch==2.2.1
torchvision==0.17.1
tornado==6.3.3
tqdm==4.66.2
traitlets==5.11.2
trio==0.24.0
trio-websocket==0.11.1
types-python-dateutil==2.8.19.14
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
uri-template==1.3.0
urllib3==1.26.18
validators==0.22.0
virtualenv==20.24.5
wcwidth==0.2.8
webcolors==1.13
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.6.3
Werkzeug==3.0.3
widgetsnbextension==4.0.9
wsproto==1.2.0
wxPython==4.2.1
ximilar-client==1.30.5
xyzservices==2023.10.1
zipp==3.17.0
